<form class="row g-3">
  <div class="col-12">
    <label class="form-label" for="messageContent">Message content</label>
    <input [(ngModel)]="messageContent" [ngModelOptions]="{standalone: true}" class="form-control" id="messageContent" placeholder="Hello World!"
           type="text">
  </div>
  <div class="col-12">
    <button (click)="sendMessage()" [disabled]="messageContent.length === 0 || sending" class="btn btn-primary"
            type="submit">Send
      message to queue
    </button>
  </div>
</form>
